section{
    padding-top: 3%;
   
}

.nav-link {
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 0.7;
    background-color: #eee !important;
}
header p {
   font-style: italic;
}

header{
    height: 600px;
    width: 100%;
    background-image:url("deskPhoto.jpg");
    background-size: cover;
    text-align: center;

    
    
}
header div{
    color: white ;
    margin-left: 5%;
}

.aboutus {
 	text-align: center;
}

.aboutus i{
    /*Adjust the size and position of the icon*/
    font-size: 30px;
    padding: 25px 20px;
    
    /*Color changes the color of the icon*/
   	color: #fff;
   	background-color: #5cb85c;
   	
   	/*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    
    /*Changes the roundness of the container*/
    border-radius: 50%;

}

.services span{
   width: 200px;
   display: inline-block;
}

/*Team*/
.team{
   margin-top: 80px;
   margin-bottom: 80px;
   text-align: center;
}
.team img{
   width: 250px;
   height: 250px;
   /*Object fit will crop and center image based on width and height*/
   object-fit: cover;
   border-radius: 50%;
   margin-bottom: 50px;
}



/*Get Involved*/
.getinvolved {
   padding: 50px 0 50px;
   text-align: center;
   background-color: #5cb85c;
   margin-top: 50px;
   width: 100%;
}

.getinvolved h1{
   color: #fff;
}

.getinvolved .options {
   padding: 30px;
   /*margin: 5px;*/
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 5px;
   margin-top: 30px;
}

.getinvolved i{
   width: 50px;
   height: 50px;
   font-size: 40px; 
}

/*Contact*/
.contact {
   margin-bottom: 80px;
   text-align: center;
}
.contact .input-group {
   margin-bottom: 25px;
}
.contact i {
   padding: 15px;
}
.contact .btn {
   border-radius: 0;
   width: 100%;
   font-size: 15px;
   background-color: #f08080;
   color: #fff;
}
.contact .btn:hover {
   background-color: #a85959 !important;
   color: #fff !important;
}

footer {
    background-color: black;
    color: lightgray;
    width:100%;
    padding: 5%;
    margin: 2%;
}

footer button{
    margin-left: 10px;
}


.input-group-prepend{
    color: lightblue;
    padding: 5%;
}

.input-group-prepend i{
    margin-right: 20px;
}

